/* ------------------- */
/* Components          */
/* ------------------- */

.large-button,
.large-button--idle {
  padding: 0 2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1;
  position: relative;
  z-index: 1;
  font-size: 2rem;
  text-decoration: none;
}

.large-button:after {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(1);
  border-radius: inherit;
  transform-origin: 50% 50%;
  transition: opacity 250ms linear, transform 400ms ease-in;
  background-color: hsl(var(--clr-white) / 0.1);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.large-button:focus {
  outline: none;
}

.large-button:hover:after,
.large-button:focus:after {
  opacity: 1;
  transform: scale(1.5);
}

.primary-navigation {
  --underline-padding: 2.1875rem;

  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.1875;
  background-color: hsl(var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background-color: hsl(var(--clr-white) / 0.04);
    backdrop-filter: blur(81.5485px);
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-padding: 0.5rem;

    padding: min(20rem, 15vh) 2rem;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.175s ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
    position: relative;
  }

  .primary-navigation.underline-indicators > .active:after {
    content: "";
    position: absolute;
    right: -2rem;
    top: 50%;
    width: 4px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-color: hsl(var(--clr-white));
  }

  .mobile-nav-toggle {
    border: 0;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
    aspect-ratio: 1;
    background: transparent;
    background-image: url("../public/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    z-index: 3;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../public/shared/icon-close.svg");
  }

  .mobile-nav-toggle:focus-visible {
    outline: 3px solid hsl(var(--clr-white));
    outline-offset: 3px;
  }
}

.primary-navigation a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.primary-navigation a > span {
  margin-right: 0.6875em;
  font-weight: 700;
}

.underline-indicators > * {
  padding: var(--underline-padding, 1rem) 0;
  border: 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: border-color 0.2125s ease-in;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

.tab-list {
  --gap: 2.1875em;
  --underline-gap: 0.75em;
}

.tab-list > * {
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  letter-spacing: inherit;
  line-height: 1.2;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5em;
  background-color: hsl(var(--clr-light) / 0.17);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-light) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
}

.number-indicators {
  --gap: 1em;
}

.number-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 1.145;
  background-color: transparent;
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white) / 0.25);
}

.number-indicators > *:hover,
.number-indicators > *:focus {
  border-color: hsl(var(--clr-white));
}

.number-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
}
