/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/*
  The difference between :is() and :where() is that :where() does not bump the specificity, whereas :is() will add the highest specificity from it's arguments to the current selector.
*/
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 75rem;
}

.sr-only {
  padding: 0;
  border: 0;
  margin: -1px;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-accent-faded {
  color: hsl(var(--clr-light) / 0.5);
}
.text-white {
  color: hsl(var(--clr-white));
}

/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  margin-bottom: 3rem;
  line-height: 1.2;
  letter-spacing: 4.75px;
  font-size: var(--fs-500);
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
}

.numbered-title > span {
  margin-right: 1em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* ------------------- */
/* Components          */
/* ------------------- */

.large-button,
.large-button--idle {
  padding: 0 2em;
  aspect-ratio: 1;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.large-button:after {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(1);
  border-radius: inherit;
  transform-origin: 50% 50%;
  transition: opacity 250ms linear, transform 400ms ease-in;
  background-color: hsl(var(--clr-white) / 0.1);
  opacity: 0;
  z-index: -1;
}

.large-button:focus {
  outline: none;
}

.large-button:hover:after,
.large-button:focus:after {
  opacity: 1;
  transform: scale(1.5);
}

.primary-navigation {
  --gap: 8rem;
  --underline-padding: 2.1875rem;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.1875;
  background-color: hsl(var(--clr-white) / 0.04);
}

.primary-navigation a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.primary-navigation a > span {
  margin-right: 0.6875em;
  font-weight: 700;
}

.underline-indicators > * {
  padding: var(--underline-padding, 1rem) 0;
  border: 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: border-color 0.2125s ease-in;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

.tab-list {
  --gap: 2.1875em;
  --underline-gap: 0.75em;
}

.tab-list > * {
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  letter-spacing: inherit;
  line-height: 1.2;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5em;
  background-color: hsl(var(--clr-light) / 0.17);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-light) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
}
